[submodule "modules/puppet"]
	path = modules/puppet
	url = https://github.com/GregSutcliffe/puppet-puppet.git
[submodule "modules/tftp"]
	path = modules/tftp
	url = https://github.com/GregSutcliffe/puppet-tftp.git
[submodule "modules/foreman_proxy"]
	path = modules/foreman_proxy
	url = https://github.com/GregSutcliffe/puppet-foreman_proxy.git
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/theforeman/puppet-apache
[submodule "modules/passenger"]
	path = modules/passenger
	url = https://github.com/theforeman/puppet-passenger
